@model TechnoStore.Common.DTO.TechnicEditDTO

@{
    ViewBag.Title = "Admin panel: product editing";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel">
    <div class="panel-heading">
        <h3>Editing product @Model.Technic.Name</h3>
    </div>

    @{Html.EnableClientValidation();}
    @{Html.EnableUnobtrusiveJavaScript();}
    @using (Html.BeginForm("Edit", "Admin"))
    {
        @Html.AntiForgeryToken()

        <div class="panel-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })s

            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                    if (property.PropertyName == "Technic")
                    {
                        <div class="form-group">
                            <label>@Model.Technic.Name</label>
                            @Html.TextBox("Name", null,
                                        new { @class = "form-control" })
                            @Html.ValidationMessage("Name", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>@Model.Technic.Description</label>
                            @Html.TextArea("Description", null,
                                new { @class = "form-control", rows = 5 })
                            @Html.ValidationMessage("Description", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>@Model.Technic.Price</label>
                            @Html.TextBox("Price", null,
                                        new { @class = "form-control" })
                            @Html.ValidationMessage("Price", new { @class = "text-danger" })
                        </div>
                    }

                    if (property.PropertyName == "CategoryId")
                    {
                        <div class="form-group">
                            <label>Category</label>
                            @Html.DropDownListFor(model => model.CategoryId, Model.Categories, "All", new { @class = "form-control col-md-2" })
                            @Html.ValidationMessageFor(model => model.CategoryId,"", new { @class = "text-danger" })
                        </div>
                    }
                

            }
            <div class="panel-footer" style="margin-top:50px">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel.Back to list", "List", "Admin", null, new { @class = "btn  btn-default " })

            </div>

        </div>
    }
</div>
