@model IEnumerable<TechnoStore.Common.DTO.TechnicDTO>

@{
    ViewBag.Title = "Admin panel: list of products";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>List of technics</h3>

        @using (Html.BeginForm("List", "Admin", FormMethod.Get))
        {
            <div class="form-inline">
                <label>Category:</label>
                @Html.DropDownList("categoryName", null, "All", new { @class = "form-control" })
                <label>Name:</label>
                @Html.TextBox("searchString", "", new { @class = "form-control" })
                <input type="submit" class="btn btn-primary" value="Search" />
            </div>
        }
    </div>
    <div class="panel-body">

        <table class="table table-striped table-condensed table-bordered table-hover">
            <tr>
                <th class="text-right" width="30px">ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
                <th class="text-right">Price</th>
                <th class="text-center">Operations</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right">@item.Id</td>
                    <td>@Html.ActionLink(item.Name, "Edit", new { technicsId = item.Id })</td>
                    <td>@item.Category</td>
                    <td width="700px">@item.Description</td>
                    <td class="text-right">@item.Price.ToString("# $")</td>
                    <td class="text-center">
                        @using (Html.BeginForm("Delete", "Admin"))
                        {
                            @Html.Hidden("technicsId", item.Id)
                            <input type="submit"
                                   class="btn btn-primary btn-xs"
                                   value="Delete" />
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Add product", "Create", null,
         new
              {
                  @class = "btn btn-primary"
         })
    </div>
</div>


