@model TechnoStore.WebUI.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_EnterLayout.cshtml";
}

<h2 class="text-center">Login</h2>

<div class="panel">
    <div class="panel-body text-center">
        @{Html.EnableClientValidation();}
        @{Html.EnableUnobtrusiveJavaScript();}
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true,"",new {@class="text-danger"})

            <div class="form-group text-center">
                <label>User Name:</label>
                @Html.TextBoxFor(m => Model.UserName, new { @class = "form-control", style = "width:300px;margin:auto" })
                @Html.ValidationMessageFor(m=>Model.UserName,"",new { @class = "text-danger" })
            </div>

            <div class="form-group text-center">
                <label>Password:</label>
                @Html.PasswordFor(m => Model.Password, new { @class = "form-control", style = "width:300px;margin:auto" })
                @Html.ValidationMessageFor(m=>Model.Password, "",new { @class = "text-danger" })
            </div>

            <div class="text-center">
                <input type="submit" value="Login" class="btn btn-primary" />
                @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn  btn-primary" })
                @Html.ActionLink("SignIn as a guest", "List", "Technics", new { area = "" }, new { @class = "btn  btn-primary" })
            </div>
        }
    </div>

</div>

