@model TechnoStore.WebUI.Models.Entities.Technic

@{
    ViewBag.Title = "Admin panel: product editing";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel">
    <div class="panel-heading">
        <h3>Editing product @Model.Name</h3>
    </div>

    @{Html.EnableClientValidation();}
    @{Html.EnableUnobtrusiveJavaScript();}
    @using (Html.BeginForm("Edit", "Admin"))
    {
        @Html.AntiForgeryToken()

        <div class="panel-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "Id" && property.PropertyName != "Category" && property.PropertyName != "CategoryList")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @if (property.PropertyName == "Description")
                        {
                            @Html.TextArea(property.PropertyName, null,
                               new { @class = "form-control", rows = 5 })
                        }
                        else
                        {
                            if (property.PropertyName == "CategoryId")
                            {
                                <label>Category</label>
                                @Html.DropDownListFor(model => model.CategoryId, Model.CategoryList, "All", new { @class = "form-control col-md-2" })
                            }
                            else
                            {
                                @Html.TextBox(property.PropertyName, null,
                                   new { @class = "form-control" })
                            }
                        }
                        @Html.ValidationMessage(property.PropertyName, new { @class = "text-danger" })
                    </div>

                }

            }
            <div class="panel-footer" style="margin-top:50px">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel.Back to list", "List", "Admin", null, new { @class = "btn  btn-default " })

            </div>

        </div>
    }
</div>
