@model IEnumerable<TechnoStore.WebUI.Models.Entities.Log>

@{
    ViewBag.Title = "Admin panel: list of errors";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>List of errors</h3>
    </div>
    <div class=" text-center btn-group-lg" style="margin-top:25px;margin-bottom:25px">
        @Html.ActionLink("Back to products", "List", "Admin", new { area = "Admin" }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Delete all errors", "DeleteAll", "Error", new { area = "Error" }, new { @class = "btn btn-primary btn-danger" })
    </div>
    <div class="panel-body">

        <table class="table table-striped table-condensed table-bordered table-hover">
            <tr>
                <th class="text-right">ID</th>
                <th>Date</th>
                <th>Level</th>
                <th>Operations</th>
                <th>Exception</th>
                <th class="col-xs-5">Message</th>
            </tr>
            @foreach (var error in Model)
            {
                <tr>
                    <td class="text-right">@error.Id</td>
                    <td>@error.Date</td>
                    <td>@error.Level</td>
                    <td class="text-center">
                        @using (Html.BeginForm("Delete", "Error"))
                        {
                            @Html.Hidden("errorId", error.Id)
                            <input type="submit"
                                   class="btn btn-primary btn-xs"
                                   value="Delete" />
                        }
                    </td>
                    <td>@error.Exception</td>
                    <td>@error.Message</td>
                </tr>
            }
        </table>
    </div>

</div>
