@model TechnoStore.Common.ViewModels.TechnicViewModel

@foreach (var technic in Model.Technics)
{
    <div class="well">
        <h3>
            <strong>@technic.Name</strong>
            <span class="pull-right label label-primary">@technic.Price.ToString("# $")</span>
        </h3>
        <div class="pull-right">
            @Html.ActionLink("Add to cart", "AddtoCart", "Cart",
           new { returnUrl = Request.Url.PathAndQuery, technicsId = technic.Id },
           new { @class = "btn btn-success" })
        </div>
        <span class="lead">@technic.Description</span>
    </div>

}

<div class="btn-group pull-right ">
    @for (var i = 1; i <= Model.TotalPages; i++)
    {
        if (i == Model.CurrentPage)
        {
            @Html.ActionLink(i.ToString(), "List", "Technics", new { category = Model.CurrentCategory, pageNumber = i, searchingString=Model.SearchingString }, new { @class = "btn btn-primary btn-sm" })
        }
        else
        {
            @Html.ActionLink(i.ToString(), "List", "Technics", new { category = Model.CurrentCategory, pageNumber = i, searchingString = Model.SearchingString }, new { @class = "btn btn-link btn-sm" })
        }
    }
</div>

