<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <form class="form-inline">
            @Html.ActionLink("TechnoStore - technological stuff store", "List", "Technics", null, new { @class = "navbar-brand navbar-link" })
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("SignOut", "Logoff", "Account", null, new { @class = "navbar-brand navbar-link pull-right" })
                <p class="navbar-brand pull-right">@User.Identity.Name</p>
            }
            else
            {
                @Html.ActionLink("SignIn", "Login", "Account", null, new { @class = "navbar-brand navbar-link pull-right" })
            }
        </form>
    </div>
    <div class="row panel">
        <div id="categories" class="col-xs-3">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>