<div class="navbar navbar-inverse" role="navigation">
    <form class="form-inline">
        @Html.ActionLink("TechnoStore - technological stuff store", "List", "Technics", new { area = "" }, new { @class = "navbar-brand navbar-link" })
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("SignOut", "Logoff", "Account", new { area = "" }, new { @class = "navbar-brand navbar-link pull-right" })
            if (User.IsInRole("Admin"))
            {
                @Html.ActionLink(User.Identity.Name, "ShowProfile", "Admin",new{area = "Admin" }, new { @class = "navbar-brand pull-right" })
            }
            else
            {
                @Html.ActionLink(User.Identity.Name, "List", "Technics", new{area = "" }, new { @class = "navbar-brand pull-right" })
            }
        }
        else
        {
            @Html.ActionLink("SignIn", "Login", "Account", new { area = "" }, new { @class = "navbar-brand navbar-link pull-right" })
        }
    </form>
</div>
